=provide(:title, "Registration")
.col-md-7.col-md-offset-1.light-font
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs-sm
      = f.input :email, required: true, autofocus: true
      = f.input :firstname, required: true
      = f.input :lastname, required: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
    .form-actions
      = f.button :submit, "Sign up"