=provide(:title, "Sign in")
.col-md-7.col-md-offset-1.light-font
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = link_to "Forgot your password?", new_password_path(resource_name)
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    .form-actions
      = f.button :submit, "Sign in"
