=provide(:title, product.title)
%p#notice= notice
%p#error= flash[:error]


%p
  %b Price:
  = product.price
%p
  = product.description
%br
%br
-if user_signed_in?
  .col-md-9.col-md-offset-0.light-font
    %h4 Reviews
    = render 'reviews/form'

    = render reviews
-else
  = link_to 'Back', category_products_path, class: 'btn btn-primary'
  = render reviews
